.head{
    grid-area: head;
    background-color: #ff8c00; /* Orange header background */
    color: #fff;
    padding: 20px;
}

.login{
    grid-area: login;
    
}

.body{
    grid-area: body;
}

.footer{
    grid-area: footer;
}

.wrapper{
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
    'head login'
    'body body'
    'footer footer'
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background */
    color: #333; /* Black text color */
    line-height: 1.6;
}

nav a {
    color: #ff8c00; /* Orange link color */
}

footer {
    background-color: #333; /* Black footer background */
    color: #fff; /* White text color */
    padding: 10px 0;
    text-align: center;
}

.button {
    background-color: #ff8c00; /* Orange button background */
    color: #fff; /* White text color */
}


/* Responsive design - adjust styles for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
